# directories
.cache/
.claude/files/
.next/
.vercel/
node_modules/

# files
*.env
*.log
*.tsbuildinfo
.DS_Store
.eslintcache
next-env.d.ts
package-lock.json
pnpm-lock.yaml
yarn.lock
settings.local.json
